DEBUG=True
SECRET_KEY=change-me
SITE_URL=http://127.0.0.1:8000
ALLOWED_HOSTS=127.0.0.1,localhost
TIME_ZONE=UTC
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=Pigly <no-reply@pigly.app>
EXTENSION_INSTALL_URL=#
GOOGLE_OAUTH_CLIENT_ID=
GOOGLE_OAUTH_CLIENT_SECRET=
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
NOWPAYMENTS_API_KEY=
NOWPAYMENTS_IPN_SECRET=
NOWPAYMENTS_API_BASE_URL=https://api.nowpayments.io
WEB3_PAYMENT_RECEIVER_ADDRESS=
WEB3_ETHEREUM_RPC_URL=https://ethereum.publicnode.com
WEB3_BASE_RPC_URL=https://mainnet.base.org
WEB3_ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
WEB3_ABSTRACT_RPC_URL=https://api.mainnet.abs.xyz
